<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="common_header" th:id="header">
    <div class="wrap">
        <div class="header-container">
            <div class="logo-area">
                <a id="logo" href="/" th:href="@{/}" th:text="#{title.main}">BOXFOLIO</a>
            </div>
            <ul class="nav">
                <li>
                    <a href="#" th:href="@{/portfolios}" th:text="#{title.portfolio}">포트폴리오</a>
                </li>
                <li>
                    <a href="#" th:text="#{title.management}">분석&관리</a>
                </li>
                <li>
                    <a href="#" th:text="#{title.community}">커뮤니티</a>
                </li>
                <li>
                    <a href="#" th:text="#{title.question}">1:1문의</a>
                </li>
            </ul>
            <div class="member-area" th:if="${session.isEmpty()}">
                <a href="/login" class="start-btn" th:href="@{/login}" th:text="#{button.start}">
                    시작하기
                </a>
            </div>
            <details class="member-area" th:if="${!session.isEmpty()}">
                <summary><img src="/image/member.png" th:src="@{/image/member.png}" alt="member-icon" id="profile-btn"/></summary>
                <div id="member-access">
                    <ul class="access-list">
                        <li>
                            <a href="#">내 프로필</a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">내 포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">내 프로젝트</a>
                        </li>
                        <li>
                            <a href="#">내 스크랩</a>
                        </li>
                        <li>
                            <a href="#">내 팀 프로젝트</a>
                        </li>
                        <li>
                            <a href="#">환경설정</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/logout" th:href="@{/logout}" th:text="#{button.logout}">로그아웃 <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
</header>
</body>
</html>