<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="common_header" th:id="header">
    <div class="wrap">
        <div class="header-container">
            <div class="logo-area">
                <a id="logo" href="/" th:href="@{/}" th:text="#{title.main}">BOXFOLIO</a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/portfolios" th:href="@{/portfolios}" th:text="#{title.portfolio}">포트폴리오</a>
                    <ul class="depth">
                        <li>
                            <a href="/portfolios" th:href="@{/portfolios}" >목록보기</a>
                        </li>
                        <li>
                            <a href="">작성하기</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" th:text="#{title.management}">분석&관리</a>
                    <ul class="depth">
                        <li>
                            <a href="">프로젝트 분석</a>
                        </li>
                        <li>
                            <a href="">분석 결과</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/board/general" th:href="@{/board/free}" th:text="#{title.community}">커뮤니티</a>
                    <ul class="depth">
                        <li>
                            <a href="/board/general" th:href="@{/board/free}">자유게시판</a>
                        </li>
                        <li>
                            <a href="/board/info" th:href="@{/board/info}">정보게시판</a>
                        </li>
                        <li>
                            <a href="/board/recruitment" th:href="@{/board/recruit}">구인게시판</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" th:text="#{title.question}">고객지원</a>
                    <ul class="depth">
                        <li>
                            <a href="">FAQ</a>
                        </li>
                        <li>
                            <a href="">1:1문의</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="member-area" th:if="${session.isEmpty()}">
                <a href="/login" class="start-btn" th:href="@{/login}" th:text="#{button.start}">
                    시작하기
                </a>
            </div>
            <details class="member-area" th:if="${!session.isEmpty()}">
                <summary><img src="/image/member.png" th:src="@{/image/member.png}" alt="member-icon" id="profile-btn"/></summary>
                <div id="member-access">
                    <ul class="access-list">
                        <li>
                            <p class="member-nickname">SeoArc</p>
                        </li>
                        <li>
                            <a href="#" th:href="@{/profile}">프로필</a>
                        </li>
                        <hr>
                        <li>
                            <a href="#">포트폴리오</a>
                        </li>
                        <li>
                            <a href="#">스크랩</a>
                        </li>
                        <li>
                            <a href="../member/progress_project_list.html" th:href="@{/project/progress(page=1)}">진행 프로젝트</a>
                        </li>
                        <li>
                            <a href="../member/complete_project_list.html" th:href="@{/project/complete(page=1)}">완료 프로젝트</a>
                        </li>
                        <li>
                            <a href="#">환경설정</a>
                        </li>
                        <hr>
                        <li>
                            <a href="/logout" th:href="@{/logout}" th:text="#{button.logout}">로그아웃 <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                        </li>
                    </ul>
                </div>
            </details>
        </div>
    </div>
</header>
</body>
</html>