<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.example.demo.dao.UserInfoMapper">
    <insert id="insertUser" parameterType="userInfoDto">
        INSERT INTO userInfo VALUES (#{id}, #{nickName}, #{userLevel}, #{pw})
    </insert>
    
    <update id="updateUser" parameterType="userInfoDto">
        UPDATE userInfo 
        SET pw = #{pw}, userLevel = #{userLevel}, nickName = #{nickName}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteUser" parameterType="string">
        DELETE FROM userInfo WHERE id = #{id}
    </delete>
    
    <select id="selectOneUser" parameterType="string" resultType="userInfoDto">
        SELECT * FROM userInfo WHERE id = #{id}
    </select>
    
    <select id="selectAllUser" resultType="userInfoDto">
        SELECT * FROM userInfo
    </select>
</mapper>