@charset "UTF-8";

.member_area {
    display: flex;
    justify-content: center;
}

.profile_btn {
    width: 32px;
    height: 32px;
}

.profile_btn:hover {
    cursor: pointer;
}

.member_access {
    top: 95px;
    right: 0px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    width: 150px;
    height: auto;
    box-shadow: 0px 5px 10px 0px #3333;
}

.member_access:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 15px;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 125px;
}

.access_list {
    margin: 10px;
}

.access_list li {
    margin: 5px 0;
}

.member_nickname {
    font-weight: bold;
}

.access_list a:hover {
    color: #56a;
}

.logout_button:hover {
    color: #f55;
}

details summary {
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details[open] summary::before {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    cursor: default;
    content: " ";
    background: transparent;
}