<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Service Programming Homework</title>
    <meta name="description" content="포트폴리오 관리 웹 페이지">
    <meta name="keywords" content="web, service, portfolio, boxfolio, project">
    <meta name="author" content="Centum">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Open Graph-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="포트폴리오 관리 웹 페이지">
    <meta property="og:description" content="포트폴리오를 분석하고 관리해줍니다">

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" href="../../css/portfolio/folio_make.css" th:href="@{/css/portfolio/folio_make.css}">
    <script src="../../js/portfolio/folio_make.js" th:href="@{js/portfolio/folio_make.js}"></script>
    <script src="https://kit.fontawesome.com/05ea6bafb2.js" crossorigin="anonymous"></script>
</head>

<body onload="start()">
<div id="root-wrap">
    <header th:replace="template/header :: common_header">
        <div class="wrap">
            <div class="header-container">
                <div class="logo">
                    <a href="/" th:href="@{/}">BOXFOLIO</a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="#">포트폴리오</a>
                    </li>
                    <li>
                        <a href="#">분석&관리</a>
                    </li>
                    <li>
                        <a href="#">커뮤니티</a>
                    </li>
                    <li>
                        <a href="#">1:1문의</a>
                    </li>
                </ul>
                <div class="user-area">
                    <a href="#" class="start-btn">
                        시작하기
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="main">
        <div class="wrap">
            <div class="main-container">
                <form th:action="/portfolios/make" method="post" th:object="${portfolioSaveForm}" id="send">
                    <div class="make">
                        <div class="fo" id="fo">
                            <div class="image-ch" id="image-ch">
                                <input type="text" class="order" size="1" onchange="change(this, value)" value="0">
                                <div class="im">
                                    <div class="container">
                                        <div class="image-upload" id="image-upload">
                                            <div>
                                                <input type="file" id="chooseFile" class="chooseFile" th:field="*{src}" accept="image/*" onchange="loadFile(this)">
                                                <p id="fileName"></p>
                                            </div>
                                        </div>
                                        <img class="image-show" id="image-show" src=""></img>
                                    </div>
                                </div>
                                <button class="del" onclick="dele(this)">삭제</button>
                            </div>

                            <div class="video-ch" id="video-ch">
                                <input type="text" class="order" size="1" onchange="change(this, value)" value="0">
                                <div class="vi">
                                    <iframe id="hz" class="hz" width="560" height="315" src="">
                                    </iframe>
                                    <input id="hide" class="hide" th:field="*{src}" size="100" type="url" onchange="video_in(value, this)" value="유튜브 src를 입력하세요">
                                </div>
                                <button class="del" onclick="dele(this)">삭제</button>
                            </div>

                            <div class="videoFile" id="videoFile">
                                <input type="text" class="order" size="1" onchange="change(this, value)" value="0">
                                <div class="viF">
                                    <div class="video-upload" id="video-upload">
                                        <div>
                                            <input type="file" th:field="*{src}" id="chooseVideoFile" name="chooseVideoFile" accept="video.mp4" onchange="loadVideoFile(this)">
                                        </div>
                                    </div>
                                    <video id="videoFi" class="videoFi" autoplay controls loop muted preload="none" width="1000">
                                        <source src="" type="video/mp4">
                                        브라우저가 동영상 업로드를 지원하지 않습니다
                                    </video>
                                </div>
                                <button class="del" onclick="dele(this)">삭제</button>
                            </div>

                            <div id="info" class="info">
                                <input type="text" class="order" size="1" onchange="change(this, value)" value="0">
                                <label class="info-in">
                                    <input type="text" th:field="*{src}" size="138" onchange="info_in(this, value)" value="설명을 입력하세요">
                                </label>
                                <button class="del" onclick="dlel(this)">삭제</button>
                            </div>

                            <div id="git" class="git">
                                <input type="text" class="order" size="1" onchange="change(this, value)" value="0">
                                <label class="git-in">
                                    <input type="text" th:field="*{src}" size="138" onchange="git_in(this, value)" value="깃허브 아이디를 입력하세요">
                                </label>
                                <button class="del" onclick="dele(this)">삭제</button>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <div class="set">
                            <button class="set-pub" onclick="set_pub()">public</button>
                            <button class="set-pri" onclick="set_pri()">private</button>
                        </div>
                        <div class="make-op">
                            <div class="mk-btn">
                                <button id="image-se" onclick="image_up()">사진 추가</button>
                            </div>
                            <div class="video-btn">
                                <button id="video-se" onclick="video_up()">유튜브 영상 추가</button>
                            </div>
                            <div class="videoF-btn">
                                <button id="videoF-se" onclick="videoF_up()">영상 파일 추가</button>
                            </div>
                            <div class="inf-btn">
                                <button id="info-se" onclick="info_up()">설명 추가</button>
                            </div>
                            <div class="git-btn">
                                <button id="git-up" onclick="git_up()">git 아이디 입력</button>
                            </div>
                            <div class="done">
                                <input type="submit" class="end" id="end" onclick="document.getElementById('send').submit()">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</div>
    <footer th:replace="template/footer :: common_footer">
    </footer>

</body>
</html>