<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>박스폴리오</title>
    <meta name="description" content="포트폴리오 관리 웹 페이지" />
    <meta name="keywords" content="web, service, portfolio, boxfolio, project" />
    <meta name="author" content="Centum" />
    <meta name="viewport"
        content="width=device-width, member-scalable=no, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="포트폴리오 관리 웹 페이지" />
    <meta property="og:description" content="포트폴리오를 분석하고 관리해줍니다" />
    <!-- <meta property="og:image" content="resources/-"> -->
    <!-- <meta property="og:url" content="https://www.kpu.ac.kr"> -->

    <!--fabicon-->
    <!--    <link rel="icon" href="resources/social-care.png">-->
    <!--    <link rel="apple-touch-icon" href="resources/social-care.png">-->
    <!--    <link rel="short icon" type="image/x-icon" href="resources/social-care.png">-->

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="/css/reset.css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" href="/css/portfolios.css" th:href="@{/css/home/home.css}" />
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/05ea6bafb2.js" crossorigin="anonymous"></script>
</head>

<body>
    <header th:replace="template/header :: common_header">
        <div class="wrap">
            <div class="header-container">
                <div class="logo">
                    <a href="/" th:href="@{/}">BOXFOLIO</a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="#">포트폴리오</a>
                    </li>
                    <li>
                        <a href="#">분석&관리</a>
                    </li>
                    <li>
                        <a href="#">커뮤니티</a>
                    </li>
                    <li>
                        <a href="#">1:1문의</a>
                    </li>
                </ul>
                <div class="member-area">
                    <a href="/login" class="start-btn" th:href="@{/login}">
                        시작하기
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="wrap">
            <div class="access-container">
                <div class="portfolio-search">
                    <form id="portfolio-search-form" action="#" method="get" role="search">
                        <input id="portfolio-query" type="text" title="포트폴리오검색" maxlength="255">
                        <button id="portfolio-search-btn" type="submit" title="포트폴리오검색">
                            <i class="fas fa-search search-icon"></i>
                        </button>
                    </form>
                </div>
                <div class="to-myportfolio">
                    <a href="http://localhost:8080/wonho_free/PortfolioServlet?cmd=create">내 포트폴리오 만들기</a>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
            <div class="portfolio-container">
                <ul class="portfolio-list"> 
                    <!-- <c:forEach var="portfolio" items="${portfolioList}"> -->
                    <div>
                        <li class="portfolio-card">
                            <a href="#">
                                <div class="portfolio-info">
                                    <div class="portfolio-head">
                                        <h3>
                                            서원호님의 포트폴리오
                                        </h3>
                                    </div>
                                    <div class="portfolio-title">
                                        제 포트폴리오 입니다. 포트폴리오 제목 테스트 입니다.
                                    </div>
                                    <div class="interested">
                                        <p>웹 / 백엔드</p>
                                    </div>
                                    <div class="portfolio-created">
                                        <p>2022-02-11 12:30</p>
                                    </div>
                                </div>
                            </a>
                            <ul class="portfolio-icons">
                                <li class="portfolio-star">
                                    <i class="far fa-star"></i>
                                    <span>12</span>
                                </li>
                                <li class="portfolio-mark">
                                    <i class="far fa-bookmark"></i>
                                    <span>381</span>
                                </li>
                            </ul>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </section>
    <footer th:replace="template/footer :: common_footer">
    </footer>
    <script src="../../js/common.js" th:src="@{/js/common.js}"></script>
</body>

</html>