@charset "UTF-8";
/* section */
.main {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: transparent;
}

.main-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login-wrap {
  border: 0px solid #000;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgba(68 68 68 4);
  padding: 40px 60px;
}

.login-header {
  color: #000;
  width: 300px;
  text-align: center;
  font-size: large;
  margin-bottom: 40px;
  border-bottom: solid 1px #000;
}

.input-row {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #000;
}


#id-area {
  border-radius: 6px 6px 0 0;
}

#pw-area {
  border-radius: 0 0 6px 6px;
  margin-top: -1px;
}

.id-icon, .pw-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.input-row input {
  border: none;
  width: 260px;
  margin-left: 5px;
  background-color: transparent;
  font-size: 16px;
  padding: 5px 0;
}

.login-area {
  margin-top: 20px;
}

.auto-login-area {
  padding-top: 10px;
}

.auto-login-area label {
  color: #bbb;
}

.login-btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 9px 0 10px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
}

.login-btn:hover {
  animation: btn-color 0.2s linear both;
}

.login-btn .btn-text {
  font-weight: bold;
  line-height: 20px;
  color: #000;
}

.error-msg-area {
  font-size: 13px;
  color: red;
}

.find-area {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.find-area li {
  color: #bbb;
  padding: 8px;
}

.find-area a:hover {
  animation: font-color 0.2s linear both;
}