@charset "UTF-8";
input {
    width: 100%;
}

/* section */
.main {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 120px);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.signup-wrap {
    border: 1px solid #fff;
    border-radius: 6px;
    box-shadow: 0 5px 8px 0 rgba(68 68 68 4%);
    padding: 40px 60px;
}

.signup-wrap h3, h2 {
    color: #fff;
}

.signup-wrap input, select {
    background-color: transparent;
    height: 100%;
    font-size: 16px;
    padding: 10px 14px 10px 14px;
    outline: none;
}

.signup-header {
    color: #000;
    width: 400px;
    text-align: center;
    font-size: large;
    margin-bottom: 40px;
    border-bottom: solid 1px #fff;
}

.join-title {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.id-overlap-btn {
    position: absolute;
    top: 14px;
    right: 13px;
}

.join-box {
    display: block;
    position: relative;
    height: 50px;
    width: 100%;
    border: solid 1px #dadada;
    box-sizing: border-box;
}

.error-msg {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 9px;
}

.pw-area {
    margin-top: 23px;
}

.name-area {
    margin-top: 23px;
}

.bir-wrap {
    display: table;
    width: 100%;
}

.bir-yy, .bir-mm, .bir-dd {
    display: table-cell;
    table-layout: fixed;
    width: 147px;
    vertical-align: middle;
    border: solid 1px #dadada;
    padding: 11px 14px;
    box-sizing: border-box;
}

.github-area .choice {
    font-size: 12px;
    font-weight: 400;
}

.choice {
    color: #8e8e8e;
    padding-left: 3px;
}

.signup-area {
    margin-top: 20px;
}

#signup-btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 9px 0 10px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
}

#signup-btn:hover {
    animation: btn-color 0.2s linear both;
}