/* 공통 */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  font-family: "맑은 고딕", "굴림";
}

ul {
  list-style: none;
  padding: 0;
}

a {
  all: unset;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* wrap */
#root-wrap {
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.wrap {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

/* header */
header {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  margin: 0 20px;
}

.nav {
  display: flex;
}

.nav a {
  color: #000;
  padding: 20px 40px;
}

.nav a:hover {
  animation: font-color 0.2s linear both;
}

.start-btn {
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px 35px;
}

.start-btn:hover {
  animation: btn-color 0.2s linear both;
}

/* section */
.main {
  width: 100%;
  height: calc(100vh - 120px);
  background-color: transparent;
}

.main_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.login_wrap {
  border: 0px solid #000;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgb(68 68 68 4%);
  padding: 40px 60px;
}

.login_header {
  color: #000;
  width: 300px;
  text-align: center;
  font-size: large;
  margin-bottom: 40px;
  border-bottom: solid 1px #000;
}

.input_row {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid #000;
}


#id-area {
  border-radius: 6px 6px 0 0;
}

#pw-area {
  border-radius: 0 0 6px 6px;
  margin-top: -1px;
}

.id_icon, .pw_icon {
  margin-left: 5px;
  margin-right: 5px;
}

.input_row input {
  border: none;
  width: 260px;
  margin-left: 5px;
  background-color: transparent;
  font-size: 16px;
  padding: 5px 0;
}

.login-area {
  margin-top: 20px;
}

.auto-login-area {
  padding-top: 10px;
}

.auto-login-area label {
  color: #bbb;
}

.login_btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 9px 0 10px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: transparent;
}

.login_btn:hover {
  animation: btn-color 0.2s linear both;
}

.login_btn .btn_text {
  font-weight: bold;
  line-height: 20px;
  color: #000;
}

.error-msg-area {
  font-size: 13px;
  color: red;
}

.find-area {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.find-area li {
  color: #bbb;
  padding: 8px;
}

.find-area a:hover {
  animation: font-color 0.2s linear both;
}

@keyframes font-color {
  100% {
      color: #FC3526;
  }
}

@keyframes btn-color {
  100% {
      color: #000;
      background-color: #F2593D;
      border-color: #F2593D;
  }
}