header {
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
}

.title-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin: 10px 0;
    padding: 10px 15px;
}

.title-area {
    display: flex;
    align-items: baseline;
    margin: 0 0 5px 0;
}

.title {
    margin: 0 5px 0 0;
}

.writer-area {
    display: flex;
    align-items: center;
}

#writer-img {
    margin: 0 10px 0 0;
}

#writer-img img {
    width: 30px;
    height: 30px;
}

.post-info-area > * {
    margin: 0 5px 0 0;
    font-size: 12px;
}

.contents-container {
    background-color: #fafafa;
    min-height: 150px;
    padding: 12px 16px;
}

.access-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin: 10px 0;
    padding: 10px;
}

.recommend-area a {
    background: transparent;
    margin: 0 0 0 8px;
}

#star-btn:hover {
    color: #fe0;
}

#scrap-btn:hover {
    color: #0af;
}

.comment-container {
    padding: 10px 5px;
}

.comment-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 5px 0;
}

#commenter-img {
    margin: 0 10px 0 0;
}

#commenter-img img {
    width: 30px;
    height: 30px;
}

.comment-info-area {
    display: flex;
    align-items: flex-start;
}

.reply-access {
    display: flex;
    align-items: center;
}

.reply-btn {
    background: transparent;
    margin: 0 10px;
}

.reply-btn:hover {
    color: #89b;
}

.comment-access {
    padding: 0 10px 0 0;
}

.comment-write-area {
    border: 1px solid #aaa;
    border-radius: 2px;
    margin: 10px 0 5px;
    padding: 10px;
}

#comment-textarea {
    background: transparent;
    border: 0;
    font-size: 13px;
    width: 100%;
    min-height: 17px;
    max-height: 500px;
    outline: 0;
    resize: none;
}

.comment-write-access-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
}

.file-box button {
    background: transparent;
    font-size: 16px;
    margin: 0 5px 0 0;
}

#comment-post-btn {
    background: transparent;
    border-radius: 2px;
    padding: 2px 5px;
}

#comment-post-btn:hover {
    background: #89b;
    color: #fff;
    cursor: pointer;
}