header {
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
}

.notice-title-container {
    background-color: #C8DEFF;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px 30px;
}

.edit-head-container {
    margin-bottom: 5px;
}

#category {
    border: 1px solid #ebecef;
    border-radius: 3px;
    padding: 15px 30px;
    font-size: 18px;
}

#edit-title {
    border: 1px solid #ebecef;
    font-size: 20px;
    line-height: 5px;
    margin: 10px 0;
    outline: none;
    overflow: hidden;
    padding: 20px 10px;
    resize: none;
    width: 100%;
}

.edit-tool {
    background-color: rgb(250, 250, 250);
    border: 1px solid #ebecef;
    margin: 10px 0;
    padding: 10px;
}

.edit-tool button, #tool-image {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    vertical-align: middle;
}

.edit-tool button:hover, #tool-image:hover{
    color: #86A8E7;
}

#tool-image label {
    cursor: pointer;
}

#input-image {
    display: none;
}

.edit-tool select {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 5px;
    padding: 10px 5px;
}

#editor {
    background-color: #fefefe;
    border: 1px solid #ebecef;
    border-radius: 3px;
    height: 500px;
    outline: none;
    padding: 16px 24px;
    overflow: auto;
    text-align: justify;
    margin-bottom: 10px;
}

#editor img {
    max-width: 100%;
}

.setting-container {
    background-color: #f2f7ff;
    padding: 25px 20px;
    border-radius: 10px;
}

.setting-container > div {
    padding-bottom: 10px;
}

.setting-container > div h4 {
    padding-right: 10px;
}

.visibility-area {
    display: flex;
    align-items: center;
}

.visibility-area label {
    margin-right: 20px;
    padding-left: 5px;
}

.visibility-area input, .visibility-area label {
    font-size: 16px;
    cursor: pointer;
}

.allow-container {
    display: flex;
    align-items: center;
}

.comment-area, .scrap-area {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.member-total-area {
    display: flex;
    align-items: center;
}

.member-total-area label {
    margin-right: 20px;
    padding-left: 5px;
}

.member-total-area input, .member-total-area label {
    font-size: 16px;
    cursor: pointer;
}

.deadline-area {
    display: flex;
}

.deadline-area select {
    border: 1px solid #78a;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
}

.auto-matching-area {
    display: flex;
}

.access-container {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.access-container button {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 30px;
}

#save-edit {
    background-color: #C8DEFF;
    color: #555;
    font-weight: bold;
}

#cancel-edit {
    background-color: #555;
    font-weight: bold;
}