.access_container {
    align-items: flex-end;
    display: flex;
    height: 150px;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 30px;
}

.portfolio_search_form {
    align-items: center;
    display: flex;
}

.portfolio_query {
    background-color: #fed;
    border: 0.5px solid #f93;
    border-radius: 8px;
    height: 35px;
    font-size: 16px;
    padding: 5px;
    width: 300px;
    margin-left: 10px;
}

.portfolio_search_button {
    background-color: transparent;
    border: 0;
    color: #f93;
    font-size: 22px;
    height: 28px;
    margin: 0 10px;
    outline: 0;
    padding: 0;
    width: 28px;
}

.portfolio_access > div {
    font-size: 18px;
    font-weight: bold;
}

.portfolio_access > div:hover {
    color: #f93;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(2px);
}