.git_box {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.git {
    width: 100%;
}

.git input {
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
}