.portfolio-card-form:hover {
    cursor: pointer;
}

.portfolio_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 0px #56a3;
    height: 180px;
    width: 240px;
}

.portfolio_item:hover {
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateY(-2px);
}

.portfolio_info {
    padding: 5px 10px;
}

.portfolio_title_area {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.portfolio_nickname_area {
    color: #555;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.member_nickname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.member_interested_area {
    color: #56a;
    font-size: 12px;
    padding: 10px 0;
}

.portfolio_created {
    font-size: 12px;
}

.portfolio_icon {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 10px 0;
}

.portfolio_icon li {
    cursor: pointer;
    margin-right: 10px;
}

.star_count,
.scrap_count {
    margin: 0 0 0 5px;
}

.search_query {
    background-color: #ff5;
}