@charset "UTF-8";
HTML CSS JSResult Skip Results Iframe
EDIT ON
/* 공통 */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    color: #353535;
    background-color: #353535;
    font-family: "맑은 고딕", "굴림";
}

ul {
    list-style: none;
    padding: 0;
}

a {
    all: unset;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

button{
    all: unset;
}
button:hover{
    cursor: pointer;
}

/* wrap */
.wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* header */
header {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    /*position: fixed;*/
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    margin: 0 20px;
}

.nav {
    display: flex;
}

.nav a {
    color: #fff;
    padding: 20px 40px;
}

.nav a:hover {
    animation: font-color 0.2s linear both;
}

.start-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px 35px;
}

.start-btn:hover {
    animation: btn-color 0.2s linear both;
}

/* section */

.make, .add{
    float: left;
}
.make {
    display: flex;
    width: 70%;
}

.add{
    margin-left: 70%;
    width: 25%;
    height: 500px;
    border: 1px solid white;
    position: fixed;
}
.set{
    color: #fff;
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}
.set-pub{
    margin-top: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: rgb(63, 63, 63);
}
.set-pub:hover{
    cursor: pointer;
}

.set-pri{
    margin-top: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(63, 63, 63);
}
.set-pri:hover{
    cursor: pointer;
}

.make-op{
    margin-top: 50px;
}

.mk-btn {
    
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.mk-btn:hover {
    animation: btn-color 0.2s linear both;
}
.video-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.video-btn:hover {
    animation: btn-color 0.2s linear both;
}
.videoF-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.videoF-btn:hover {
    animation: btn-color 0.2s linear both;
}
.inf-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.inf-btn:hover {
    animation: btn-color 0.2s linear both;
}
.git-btn {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.git-btn:hover {
    animation: btn-color 0.2s linear both;
}
.end{
    all:unset;
}
.done {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.done:hover {
    animation: btn-color 0.2s linear both;
    cursor: pointer;
}


.fo{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
    margin-left:  auto;
    margin-right: auto;
}


.image-ch{
    float: left;
    width : 1200px;
    height : 500px;
    margin-bottom: 30px;
    display: none;
}
.container {
    display: flex;
    height: 100%;
    flex-direction: column;

}

.image-upload {
    z-index: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}

.fileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width : 1000px;
    height : 500px;
    margin: 0 auto;
}

.img {
    position: absolute;
}

.info{
    width: 1200px;
    clear: both;
    margin-bottom: 30px;
    display: none;
}

.git{
    width: 1200px;
    clear: both;
    margin-bottom: 30px;
    display: none;
}

.videoFile{
    float: left;
    width : 1200px;
    height: 500px;
    margin-bottom: 30px;
    display: none;
}
.viF{
    float: left;
    width : 1000px;
    height: 500px;
    background-color: rgb(211, 211, 211);
    display: flex;
}
.vi{
    float: left;
    width : 1000px;
    height: 500px;
    background-color: rgb(211, 211, 211);
    display: flex;
}
.im{
    float: left;
    width : 1000px;
    height: 500px;
    background-color: rgb(211, 211, 211);
    display: flex;
}
.order{
    border: 1px solid #fff;
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.del{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 20px;
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.video-upload{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.videoFi{
    display: none;
}

.video-ch{
    float: left;
    width : 1200px;
    height : 500px;
    margin-bottom: 30px;
    display: none;
}

.hide{
    float: left;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 235px;
    margin-left: 125px;
}
.hz{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1000px;
    height: 500px;
    margin: 0 auto;
}

/* */
.analysis-btn {
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 40px 20px 0;
    padding: 20px;
}

.analysis-btn:hover {
    animation: btn-color 0.2s linear both;
}


@keyframes font-color {
    100% {
        color: #FC3526;
    }
}

@keyframes btn-color {
    100% {
        color: #000;
        background-color: #F2593D;
        border-color: #F2593D;
    }
}