.portf{
    width: 100%;
    display: flex;
}
.make {
    width: calc(80% - 1px);
    margin: 0 auto;
}

.op{
    float: right;
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 20px;
    display: flex;
}
.name_btn{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.name_btn:hover {
    animation: btn-color 0.2s linear both;
    cursor: pointer;
}
.up-btn {
    all: unset;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.up-btn:hover {
    animation: btn-color 0.2s linear both;
    cursor: pointer;
}

.fo{
    clear: both;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
}

.date_1{
    float: left;
    color: #fff;
    margin-left: 1100px;
    font: bold
}
.date_2{
    float: left;
    color: #fff;
    margin-left: 10px;
    margin-bottom: 20px;
}