@charset "UTF-8";

header {
    border-bottom: 1px solid #fff;
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

textarea {
    outline: none;
    resize: none;
    border: 0;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
}

.portfolio-area {
    border-radius: 5px;
    width: 900px;
    margin: 100px 0 0;
    padding: 20px;
    background-color: #eef4ff;
    box-shadow: 2px 2px 10px 1px rgba(25, 42, 70, 0.2);
}

.portfolio-title {
    margin: 0 auto;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.access-area {
    display: flex;
    flex-direction: column;
    border: 1px solid #888;
    border-radius: 5px;
    width: 260px;
    height: 400px;
    margin: 100px 0 0;
    padding: 20px;
}

.member-info {
    display: flex;
    align-items: flex-end;
}

#member-img {
    width: 35px;
    margin: 0 10px 0 0;
}

.member-nickname {
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
}

.portfolio-icons {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    margin: 20px 0 0;
}

.portfolio-icons li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    color: #000;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 10px 1px rgba(25, 42, 70, 0.2);
}

.portfolio-star:hover {
    background-color: #fe0;
    color: #fa0;
    transform: translateY(-2px);
}

.portfolio-scrap:hover {
    background-color: #0af;
    color: #00f;
    transform: translateY(-2px);
}

.send-email:hover {
    background-color: #caf;
    color: #749;
    transform: translateY(-2px);
}

.send-comment:hover {
    background-color: #afa;
    color: #0c0;
    transform: translateY(-2px);
}

.public-status div {
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    margin: 20px 0 0;
}

.public-mark {
    background-color: #8e5;
    color: #fff;
}

.private-mark {
    background-color: #f75;
    color: #fff;
}

.manage-area {
    display: flex;
    margin: auto 0 10px;
}

#modify-btn, #delete-btn {
    color: #fff;
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 5px;
    transition-duration: 0.5s;
    margin: 0 10px 0 0;
}

#modify-btn {
    background-color: #88f;
}

#delete-btn {
    background-color: #f88;
}

#modify-btn:hover, #delete-btn:hover {
    color: #ccc;
    transform: translateY(-1px);
    box-shadow: 2px 2px 10px 1px rgba(25, 42, 70, 0.2);
}

.value_test {
    display: none;
}

.youtube-box, .img-box, .video-box, .describe-box {
    width: 100%;
    display: flex;
    margin: 0 0 25px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
}

.youtube-box, .video-box {
    /* height: 500px; */
}