@charset "UTF-8";

/* section */
.main {
    width: 100%;
    background-color: transparent;
}

.main_container {
    display: flex;
    height: calc(100vh - 120px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.login_wrap {
    border: 1px solid #348;
    box-shadow: 0px 5px 10px 0px #3484;
    padding: 40px 60px;
}

.login_header {
    color: #fff;
    background-color: #348;
    box-shadow: 0px 5px 10px 0px #3484;
    width: 435px;
    text-align: center;
    font-size: large;
    margin: 0 0 30px;
    padding: 10px 0;
}

.input_row {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid #348;
    background-color: #fff;
}

.input_row input {
    border: none;
    width: 260px;
    margin-left: 5px;
    background-color: #fff;
    font-size: 16px;
    padding: 5px 0;
    outline-style: none;
}

.id_area {
    border-radius: 2px 2px 0 0;
}

.pw_area {
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
}

.id_icon, .pw_icon {
    width: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.login_area {
    margin-top: 20px;
}

.auto_login_area {
    padding-top: 10px;
}

.auto_login_area label, .auto_login_area input {
    color: #000;
    cursor: pointer;
    border-radius: 2px !important;
    width: 20px !important;
    height: 20px !important;
}

.auto_login_area input:checked {
    background-color: #348 !important;
}

.login_btn {
    display: block;
    text-align: center;
    width: 100%;
    padding: 9px 0 10px;
    cursor: pointer;
    border: 1px solid #348;
    border-radius: 2px;
    background-color: #348;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
}

.login_btn:hover {
    animation: btn-color 0.2s linear both;
}

.error_msg_area {
    font-size: 13px;
    color: red;
}

.find_area {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.find_area li {
    color: #000;
    padding: 8px;
}

.find_area a:hover {
    animation: font-color 0.2s linear both;
}