@charset "UTF-8";
input {
    width: 100%;
}

header {
    border-bottom: 1px solid #fff;
    background: linear-gradient(to right, #7F7FD5, #86A8E7, #91EAE4);
}

.main {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 360px);
    padding: 80px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.term-area {
    border: 1px solid #000;
    width: 1000px;
    height: 400px;
    padding: 12px;
    overflow-y: scroll;
}

.term h2 {
    margin: 20px 0;
}

.term-title {
    font-weight: bold;
    margin: 20px 0 10px !important;
}

.article li {
    margin: 5px 0;
}

.accept-area {
    width: 1000px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.accept-area label {
    cursor: pointer;
}

.accept-label {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transition: border-color ease 0.2s;
    margin-right: 8px;
}

.accept-label::before, .accept-label::after{
    position: absolute;
    height: 0;
    width: 4px;
    background-color: #34b93d;
    box-sizing: border-box;
    display: inline-block;
    transform-origin: left top;
    border-radius: 5px;
    content: ' ';
    transition: opacity ease 0.5;
}

.accept-label::before {
    top: 14.4px;
    left: 8.2px;
    box-shadow: 0 0 0 1px transparent;
    transform: rotate(-135deg);
}

.accept-label::after {
    top: 7.4px;
    left: 1px;
    transform: rotate(-45deg);
}

input[id="accept-term"]:checked + .accept-label {
    border-color: #34b93d;
}

input[id="accept-term"]:checked + .accept-label::after {
    height: 10px;
    animation: bottomcheck 0.2s ease 0s forwards;
}

input[id="accept-term"]:checked + .accept-label::before {
    height: 24px;
    animation: topcheck 0.4s ease 0s forwards;
}

input {
    display: none;
}

.button-area button {
    width: 100px;
    height: 40px;
    margin: 0 5px;
}

#prev-btn:hover {
    animation: btn-color 0.2s linear both;
    cursor: pointer;
}

#next-btn {
    background-color: #78a;
}

#next-btn:enabled:hover {
    animation: btn-color 0.2s linear both;
    cursor: pointer;
}

@keyframes bottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: 10px;
    }
}

@keyframes topcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 24px;
    }
}