.board_title_container {
    border-radius: 2px;
    margin: 20px 0 0;
    padding: 10px;
}

.board_title {
    font-size: 25px;
    padding: 15px 30px;
    color: #fff;
    background-color: #56a;
}

.board_category {
    display: flex;
    margin: 30px 10px 0;
    padding: 0;
}

.board_category > li > a {
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 2px;
    transition-duration: 0.5s;
    margin-left: -1px;
    border: 1px solid #56a;
}

.board_category > li > a:hover {
    background-color: #9ad;
}

.up {
    color: #fff;
    background-color: #56a;
}

.up:hover {
    background-color: #56a !important;
}