@charset "UTF-8";

.board_container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    align-items: flex-start;
}

.board {
    border-top: 1px solid #337;
    width: 100%;
}

.board th,
.board td {
    border-bottom: 1px solid #ccd;
    height: 30px;
    padding: 7px 3px;
}

.access_container {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.post_btn {
    color: #fff;
    background-color: #56a;
    border-radius: 2px;
    padding: 10px 20px;
    transition-duration: 0.5s;
}

.post_btn a {
    font-size: 16px;
}

.post_btn:hover {
    background-color: #78e;
}