.edit_title_container {
    color: #fff;
    background-color: #56a;
    border-radius: 2px;
    margin: 20px 0;
    padding: 20px 30px;
}

.edit_head_container {
    margin-bottom: 5px;
}

.category {
    border: 1px solid #ebecef;
    border-radius: 3px;
    padding: 15px 30px;
    font-size: 18px;
}

.board_title {
    border: 1px solid #ebecef;
    font-size: 20px;
    line-height: 50px;
    margin: 10px 0;
    outline: none;
    overflow: hidden;
    padding: 0 10px;
    height: 50px;
    resize: none;
    width: 100%;
}

.edit_tool {
    background-color: rgb(250, 250, 250);
    border: 1px solid #ebecef;
    margin: 10px 0;
    padding: 10px;
}

.edit_tool button, #tool-image {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    vertical-align: middle;
}

.edit_tool button:hover, #tool-image:hover{
    color: #86A8E7;
}

.tool_image label {
    cursor: pointer;
}

.input_image {
    display: none;
}

.edit_tool select {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0 5px;
    padding: 10px 5px;
}

.editor {
    background-color: #fefefe;
    border: 1px solid #ebecef;
    border-radius: 3px;
    height: 500px;
    outline: none;
    padding: 16px 24px;
    overflow: auto;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    flex-shrink: 1;
}

.contents_area {
    display: flex;
    margin: 0 0 10px 0;
}

.editor img {
    max-width: 100%;
}

.access_container {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.access_container button {
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    margin: 0 10px;
    padding: 10px 30px;
}

.save_edit {
    background-color: #C8DEFF;
    color: #555;
    font-weight: bold;
}

.cancel_edit {
    background-color: #555;
    font-weight: bold;
}