.matching_list_area {
    border: 1px solid #56a;
    border-radius: 2px;
    width: 400px;
    margin: 0 0 0 20px;
}

.matching_list_title {
    color: #fff;
    background-color: #56a;
    padding: 10px;
    text-align: center;
}

.matching_list {
    width: 100%;
}

.matching_list th {
    font-weight: normal;
    height: 30px;
    border-top: 1px solid #56a;
}

.matching_list tbody tr:hover {
    background-color: #78c;
    color: #fff;
    cursor: pointer;
}