<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>박스폴리오</title>
    <meta name="description" content="포트폴리오 관리 웹 페이지" />
    <meta name="keywords" content="web, service, portfolio, boxfolio, project" />
    <meta name="author" content="Centum" />
    <meta name="viewport" content="width=device-width, member-scalable=no, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="포트폴리오 관리 웹 페이지" />
    <meta property="og:description" content="포트폴리오를 분석하고 관리해줍니다" />
    <!-- <meta property="og:image" content="resources/-"> -->
    <!-- <meta property="og:url" content="https://www.kpu.ac.kr"> -->

    <!--fabicon-->
    <!--    <link rel="icon" href="resources/social-care.png">-->
    <!--    <link rel="apple-touch-icon" href="resources/social-care.png">-->
    <!--    <link rel="short icon" type="image/x-icon" href="resources/social-care.png">-->

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/board/recruitment_edit.css" th:href="@{/css/board/recruitment_edit.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/input_design.css" th:href="@{/css/input_design.css}"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/05ea6bafb2.js" crossorigin="anonymous"></script></head>
<body>
    <header th:replace="template/header :: common_header">
        <div class="wrap">
            <div class="header-container">
                <div class="logo">
                    <a href="/" th:href="@{/}">BOXFOLIO</a>
                </div>
                <ul class="nav">
                    <li>
                        <a href="#">포트폴리오</a>
                    </li>
                    <li>
                        <a href="#">분석&관리</a>
                    </li>
                    <li>
                        <a href="#">커뮤니티</a>
                    </li>
                    <li>
                        <a href="#">고객지원</a>
                    </li>
                </ul>
                <div class="member-area">
                    <a href="login" class="start-btn">
                        시작하기
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="wrap">
            <form id="board-form" action="" th:action th:object="${recruitBoardSaveForm}" method="post">
                <div class="notice-title-container">
                    <h2 class="notice-title">게시글 작성</h2>
                    </ul>
                </div>
                <div class="edit-head-container">
                    <select id="category" required>
                        <option value="recruit">구인 게시판</option>
                    </select>
                </div>
                <div class="edit-container">
                    <textarea name="edit-title" id="edit-title" cols="30" placeholder="제목을 입력해 주세요." th:field="*{title}"></textarea>
                    <div class="edit-tool">
                        <select id="tool-fontsize">
                            <option value="" selected>폰트 사이즈</option>
                            <option value="1">10px</option>
                            <option value="2">13px</option>
                            <option value="3">16px</option>
                            <option value="4">18px</option>
                            <option value="5">24px</option>
                            <option value="6">32px</option>
                            <option value="7">48px</option>
                        </select>
                        <select id="tool-font">
                            <option value="" selected>폰트</option>
                            <option value="Black Han Sans">Black Han Sans</option>
                            <option value="Noto Sans KR">Noto Sans KR</option>
                            <option value="Nanum Gothic">Nanum Gothic</option>
                            <option value="Nanum Myeongjo">Nanum Myeongjo</option>
                            <option value="Nanum Pen Script">Nanum Pen Script</option>
                            <option value="맑은 고딕">맑은 고딕</option>
                        </select>
                        <button id="tool-bold">
                            <i class="fas fa-bold"></i>
                        </button>
                        <button id="tool-italic">
                            <i class="fas fa-italic"></i>
                        </button>
                        <button id="tool-under">
                            <i class="fas fa-underline"></i>
                        </button>
                        <button id="tool-cancel">
                            <i class="fas fa-strikethrough"></i>
                        </button>
                        <button id="tool-orderlist">
                            <i class="fas fa-list-ol"></i>
                        </button>
                        <button id="tool-unorderlist">
                            <i class="fas fa-list-ul"></i>
                        </button>
                        <span id="tool-image">
                            <label for="input-image">
                                <i class="far fa-image"></i>
                            </label>
                            <input type="file" id="input-image" accept="image/*" onchange="loadFile(this)">
                        </span>
                        <button id="tool-full">
                            <i class="fas fa-align-justify"></i>
                        </button>
                        <button id="tool-left">
                            <i class="fas fa-align-left"></i>
                        </button>
                        <button id="tool-center">
                            <i class="fas fa-align-center"></i>
                        </button>
                        <button id="tool-right">
                            <i class="fas fa-align-right"></i>
                        </button>
                        <button id="tool-undo">
                            <i class="fas fa-undo"></i>
                        </button>
                        <button id="tool-redo">
                            <i class="fas fa-redo"></i>
                        </button>
                    </div>
                    <div id="editor" contenteditable="true" th:field="*{contents}" th:utext="*{contents}">
                    </div>
                </div>
                <div class="setting-container">
                    <div class="visibility-area">
                        <h4>공개 여부</h4>
                        <input id="public" type="radio" value="public" th:field="*{visibility}">
                        <label for="public">공개</label>
                        <input id="private" type="radio" value="private" th:field="*{visibility}">
                        <label for="private">비공개</label>
                    </div>
                    <div class="allow-container">
                        <div class="comment-area">
                            <h4>댓글 허용</h4>
                            <input id="comment-allow" type="checkbox" class="switch" th:field="*{commentAllow}"/>
                        </div>
                        <div class="scrap-area">
                            <h4>스크랩 허용</h4>
                            <input id="scrap-allow" type="checkbox" class="switch" th:field="*{scrapAllow}"/>
                        </div>
                    </div>
                    <div class="member-total-area">
                        <h4>모집 인원</h4>
                        <input id="total1" type="radio" value="1" th:field="*{memberTotal}">
                        <label for="total1">1명</label>
                        <input id="total2" type="radio" value="2" th:field="*{memberTotal}">
                        <label for="total2">2명</label>
                        <input id="total3" type="radio" value="3" th:field="*{memberTotal}">
                        <label for="total3">3명</label>
                        <input id="total4" type="radio" value="4" th:field="*{memberTotal}">
                        <label for="total4">4명</label>
                        <input id="total5" type="radio" value="5" th:field="*{memberTotal}">
                        <label for="total5">5명</label>
                        <input id="total6" type="radio" value="6" th:field="*{memberTotal}">
                        <label for="total6">6명</label>
                    </div>
                    <div class="deadline-area">
                        <h4>마감 기한</h4>
                        <select name="deadline-year" id="deadline-year" th:field="*{deadlineYear}">
                            <option value="2022">2022</option>
                        </select>
                        <select name="deadline-month" id="deadline-month" th:field="*{deadlineMonth}">
                            <option value="1">1월</option>
                        </select>
                        <select name="deadline-day" id="deadline-day" th:field="*{deadlineDay}">
                            <option value="2">2일</option>
                        </select>
                    </div>
                    <div class="auto-matching-area">
                        <h4>자동 매칭</h4>
                        <input id="auto-matching-status" type="checkbox" class="switch" th:field="*{autoMatchingStatus}"/>
                    </div>
                </div>
                <div class="access-container">
                    <button id="save-edit">저장</button>
                    <button id="cancel-edit">취소</button>
                </div>
            </form>
        </div>
    </section>
    <footer th:replace="template/footer :: common_footer">

    </footer>
</body>
<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
<script src="../../static/js/board/editor.js" th:src="@{/js/board/editor.js}"></script>
<script src="../../static/js/board/contents_post.js" th:src="@{/js/board/contents_post.js}"></script>
</html>