<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>박스폴리오</title>
    <meta name="description" content="포트폴리오 관리 웹 페이지" />
    <meta name="keywords" content="web, service, portfolio, boxfolio, project" />
    <meta name="author" content="Centum" />
    <meta name="viewport" content="width=device-width, member-scalable=no, initial-scale=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--Open Graph-->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="포트폴리오 관리 웹 페이지" />
    <meta property="og:description" content="포트폴리오를 분석하고 관리해줍니다" />
    <!-- <meta property="og:image" content="resources/-"> -->
    <!-- <meta property="og:url" content="https://www.kpu.ac.kr"> -->

    <!--fabicon-->
    <!--    <link rel="icon" href="resources/social-care.png">-->
    <!--    <link rel="apple-touch-icon" href="resources/social-care.png">-->
    <!--    <link rel="short icon" type="image/x-icon" href="resources/social-care.png">-->

    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/common.css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/board/recruitment_post.css" th:href="@{/css/board/recruitment_post.css}"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/input_design.css" th:href="@{/css/input_design.css}"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/05ea6bafb2.js" crossorigin="anonymous"></script></head>
<body>
<header th:replace="template/header :: common_header">
    <div class="wrap">
        <div class="header-container">
            <div class="logo">
                <a id="logo" href="/" th:href="@{/}">BOXFOLIO</a>
            </div>
            <ul class="nav">
                <li>
                    <a href="#">포트폴리오</a>
                </li>
                <li>
                    <a href="#">분석&관리</a>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                </li>
                <li>
                    <a href="#">고객지원</a>
                </li>
            </ul>
            <div class="member-area">
                <a href="login" class="start-btn">
                    시작하기
                </a>
            </div>
        </div>
    </div>
</header>
<section class="main" th:object="${recruitPost}">
    <div class="wrap">
        <div class="title-container">
            <div class="general-info">
                <div class="title-area">
                    <h1 class="title" th:text="*{title}">게시판 제목입니다.</h1>
                </div>
                <div class="writer-area">
                    <a href="" id="writer-img">
                        <img src="../../static/image/member.png" alt="profile-img" th:src="@{/image/member.png}">
                    </a>
                    <a href="" id="writer-nickname" th:text="*{member.nickname}">SeoArc</a>
                </div>
                <div class="post-info-area">
                    <span id="created-date" th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd HH:mm:ss')}">2022-01-11 12:02:44</span>
                    <span id="view-cnt" th:text="|조회 *{viewTally}|">조회 1</span>
                    <span id="star-cnt" th:text="|추천 *{starTally}|">추천 3</span>
                    <span id="scrap-cnt" th:text="|스크랩 *{scrapTally}|">스크랩 2</span>
                    <a id="update-board" href="" th:if="${#session.getAttribute('loginMember')} == *{member.id}">수정</a>
                    <a id="delete-board" href="" th:if="${#session.getAttribute('loginMember')} == *{member.id}" th:href="@{/board/recruit/delete/{boardId}(boardId=*{id})}">삭제</a>
                </div>
            </div>
            <div class="recruit-info">
                <div class="auto-matching-area">
                    <span id="auto-matching-opened" th:if="*{autoMatchingStatus}">자동 매칭 활성화 됨 <i class="fas fa-circle status-circle"></i></span>
                    <span id="auto-matching-closed" th:if="*{!autoMatchingStatus}">자동 매칭 비활성화 됨 <i class="fas fa-circle status-circle"></i></span>
                </div>
                <div class="recruit-total-area">
                    <span>인원</span>
                    <div class="recruit-total-status" th:each="cnt : *{#numbers.sequence(1, memberTotal)}">
                        <i class="fas fa-user entered-member" th:if="${cnt} <= *{memberTally}"></i>
                        <i class="fas fa-user" th:if="${cnt} > *{memberTally}"></i>
                    </div>
                </div>
                <div class="recruit-deadline-area">
                    <span>기간</span>
                    <span class="start-date" th:text="*{#temporals.format(createdDate, 'yy.MM.dd')}">22.01.12</span>
                    <span>~</span>
                    <span class="end-date" th:text="*{#temporals.format(deadlineDate, 'yy.MM.dd')}">22.02.24</span>
                </div>
            </div>
        </div>
        <div class="contents-container">
            <div class="contents" th:utext="*{contents}"></div>
        </div>
        <div class="access-container">
            <div class="comment-cnt-area">
                <i class="far fa-comments"></i>
                <span id="comment-cnt" th:text="|댓글 *{commentTally}|">댓글 1</span>
            </div>
            <div class="recommend-area">
                <a id="star-btn" th:href="@{/board/star/{boardId}(boardId=*{id})}">
                    <i class="far fa-star"></i>
                    <span>추천</span>
                </a>
                <a id="scrap-btn" th:href="@{/board/scrap/{boardId}(boardId=*{id})}">
                    <i class="far fa-bookmark"></i>
                    <span>스크랩</span>
                </a>
            </div>
        </div>
        <div class="comment-container">
            <ul class="comments">
                <li class="comment-area" id="1" th:id="${comment.id}" th:each="comment : ${comments}" th:classappend="${comment.groupNum != comment.id ? 'replied' : ''}">
                    <div class="comment-box">
                        <div class="comment-info-area">
                            <a href="" id="commenter-img">
                                <img src="../../static/image/member.png" alt="member-img" th:src="@{/image/member.png}">
                            </a>
                            <div class="comment-info">
                                <a href="" id="commenter-nickname" th:text="${comment.member.nickname}">SeoArc</a>
                                <p class="mention-member" th:if="${comment.groupNum} != ${comment.id}" th:text="|@${comment.boardComment.member.nickname}|"></p>
                                <p class="comment" th:utext="${comment.contents}">댓글입니다.</p>
                                <div class="reply-access">
                                    <span class="comment-created" th:text="${#temporals.format(comment.createdDate, 'yyyy.MM.dd. HH:mm')}">2022.01.12. 01:23</span>
                                    <button class="reply-btn">답글</button>
                                </div>
                            </div>
                        </div>
                        <div class="comment-access">
                            <a id="update-comment" href="" th:if="${#session.getAttribute('loginMember')} == ${comment.member.id}"><span>수정</span></a>
                            <a id="delete-comment" href="" th:if="${#session.getAttribute('loginMember')} == ${comment.member.id}" th:href="@{/board/comment/delete/{commentId}(commentId=${comment.id})}"><span>삭제</span></a>
                        </div>
                    </div>
                    <div class="reply-edit">
                        <form id="reply-form" action="" th:action="@{/board/reply/{commentId}(commentId=${comment.id})}" method="post">
                            <span id="tag-nickname" th:text="|@${comment.member.nickname}|"></span>
                            <textarea name="reply" id="reply-textarea" rows="1" placeholder="답글을 입력하세요" th:field="${boardCommentSaveForm.contents}"></textarea>
                            <div class="reply-write-access-area">
                                <div class="file-box">
                                    <button id="image-upload-btn">
                                        <i class="far fa-image"></i>
                                    </button>
                                </div>
                                <div class="btn-box">
                                    <button id="reply-cancel-btn">취소</button>
                                    <input type="submit" id="reply-post-btn" value="등록">
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
            <div class="comment-write-area">
                <form id="comment-form" action="" th:action="@{/board/comment/{boardId}(boardId=*{id})}" method="post">
                    <textarea name="comment" id="comment-textarea" rows="1" placeholder="댓글을 입력하세요" th:field="${boardCommentSaveForm.contents}"></textarea>
                    <div class="comment-write-access-area">
                        <div class="file-box">
                            <button id="image-upload-btn">
                                <i class="far fa-image"></i>
                            </button>
                        </div>
                        <input type="submit" id="comment-post-btn" value="등록">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="template/footer :: common_footer">

</footer>
</body>
<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
<script src="../../static/js/board/comment.js" th:src="@{/js/board/comment.js}"></script>
<script src="../../static/js/board/reply_edit.js" th:src="@{/js/board/reply_edit.js}"></script>
</html>